<div class="navbar" id="bg_image" data-image-count="0">
  <div class="navbar-inner">
      <div class="logo home">
          <a href="<%= MetacatUI.root || "/" %>">
              <img alt="Metacat" src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logoseal_blue_large.gif?v=<%=MetacatUI.metacatUIVersion%>">
          </a>
	  <span class="title"><%=MetacatUI.appModel.get("repositoryName")%></span>
  </div>
  <a id="nav-trigger"><i class="icon-reorder icon"></i><i class="icon-remove icon hidden"></i></a>

      <ul class="nav" id="main-nav">
            <li><a class="show-new-search" href="<%= MetacatUI.root %>/data">Search Data</a></li>
            <li><a class="show-new-editor" href="<%= MetacatUI.root %>/submit">Submit Data</a></li>
            <li><a href="<%= MetacatUI.root %>/profile">Data Summary</a></li>
        <% if (loggedIn && username) {
            print(
            '<li class="dropdown minimal-nav user-menu">',
                '<a href="" class="dropdown-toggle" data-toggle="dropdown">',
                    '<i class="icon icon-on-left icon-user"></i>',
          (firstName || formattedName),
          '<i class="icon icon-caret-down icon-on-right"></i>',
                '</a>',
                '<ul class="dropdown-menu">',
                    '<li class="dropdown-header">', formattedName, '</li>',
                    '<li class="divider"></li>',
                    '<li><a href="' + MetacatUI.root + '/submit" class="show-new-editor">Submit Data</a></li>',
                    '<li><a href="' + MetacatUI.root + '/profile/' + username + '">My Profile</a></li>',
                    '<li><a href="' + MetacatUI.root + '/data/my-data">My Datasets</a></li>',
                    '<li class="divider"></li>',
                    '<li><a href="' + MetacatUI.root + '/signout">Sign Out</a></li>',
                '</ul>',
            '</li>'
            );
        } else {
            print(
                '<li id="SignIn" class="share-feature minimal-nav"><a href="' + MetacatUI.root + '/signin">Sign In</a></li>'
            );
        } %>

      </ul>
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
