<article id="About">
    <div class="container">
        <div class="row-fluid">
            <div class="text-left">
                <h2>
                    <a name="about-the-repo"></a>
                    <i class="icon icon-leaf"></i>
                    About the <%= MetacatUI.appModel.get('title')%>
                </h2>
                <div class="entry-content">
                    <p>
                        The Ecological Society of America (ESA) is a nonpartisan, nonprofit
                        organization of scientists founded in 1915 to:
                      </p>
                      <ul id="list">
                        <li>
                          promote ecological science by improving communication among ecologists;
                        </li>
                        <li>
                          raise the public’s level of awareness of the importance of ecological
                          science;
                        </li>
                        <li>
                          increase the resources available for the conduct of ecological science; and
                        </li>
                        <li>
                          ensure the appropriate use of ecological science in environmental decision
                          making by enhancing communication between the ecological community and
                          policy-makers.
                        </li>
                      </ul>
                      <p>
                        Ecology is the scientific discipline that is concerned with the relationships
                        between organisms and their past, present, and future environments. These
                        relationships include physiological responses of individuals, structure and
                        dynamics of populations, interactions among species, organization of
                        biological communities, and processing of energy and matter in ecosystems.
                      </p>
                      <div class="margin-top margin-bottom">
                        <div style="width: 724px" class="wp-caption aligncenter">
                          <a
                            class="img-responsive my-3"
                            href="https://esa.org/ecological-society-of-america.jpg"
                            ><img
                              fetchpriority="high"
                              decoding="async"
                              class="img-responsive img-fluid"
                              title="The Ecological Society of America was established in 1915."
                              src="https://esa.org/ecological-society-of-america.jpg"
                              alt="The official logo of the Ecological Society of America."
                              width="714"
                              height="382"
                          /></a>
                          <p class="wp-caption-text">
                            The Ecological Society of America was established in 1915.
                          </p>
                        </div>
                      </div>
                      <p>
                        ESA’s over 9,000 members conduct research, teach, and use ecological science
                        to address environmental issues that include:
                      </p>
                      <ul id="list">
                        <li>biotechnology</li>
                        <li>natural resource management</li>
                        <li>ecological restoration</li>
                        <li>ozone depletion and global climate change</li>
                        <li>ecosystem management</li>
                        <li>species extinction and loss of biological diversity</li>
                        <li>habitat alteration and destruction</li>
                        <li>sustainable ecological systems</li>
                      </ul>
                      <p>
                        ESA publishes a suite of publications, from peer-reviewed journals to
                        newsletters, fact sheets and teaching resources.
                      </p>
                      <div class="row">
                        <div class="col-md-6">
                          <h3>ESA’s Mission</h3>
                          <p>
                            The Ecological Society of America advances the science and practice of
                            ecology and supports ecologists throughout their careers.
                          </p>
                        </div>
                        <div class="col-md-6">
                          <h3>ESA’s Vision</h3>
                          <p>
                            The Ecological Society of America envisions a future where people embrace
                            science to understand and foster a thriving planet.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h3>ESA’s Values</h3>
                          <ul>
                            <li>
                              <strong>Integrity:</strong><br />
                              ESA is a trusted source of scientific knowledge that serves as a
                              foundation for understanding and action.
                            </li>
                            <li>
                              <strong>Inclusion:</strong><br />
                              ESA provides the community of ecologists of diverse backgrounds,
                              heritage, and career paths with a supportive home that advances their
                              aspirations.
                            </li>
                            <li>
                              <strong>Adaptability:</strong><br />
                              ESA responds creatively to continuous change in our natural and social
                              environments.
                            </li>
                          </ul>
                        </div>
                      </div>
                      
            </div>
            </div>
        </div>
     </div>
    </div>
</article>