<div class="container">
    <ul class="list-left helpitems">
        <li>
            <a href="mailto:<%=MetacatUI.appModel.get('emailContact')%>">
            Contact: <%=MetacatUI.appModel.get('emailContact')%>
        </a>
        </li>
    </ul>
    <ul class="list-right helpitems">
        <li>
            <a href="https://dataone.org/hosted-repo/" target="offline">
                Powered by
                <img alt="DataONE" src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/dataone_logo_white.png" />
                Hosted Repositories
            </a>
        </li>
    </ul>
</div>

