<section class="row">
  <!-- <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/humanimpacts.png" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle dark">
          <span class="citation">
            Cold Regions Research and Engineering Laboratory
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          The Cold Regions Research and Engineering Laboratory is a
          United States Army Corps of Engineers, Engineer Research and
          Development Center research facility headquartered in Hanover,
          New Hampshire, that provides scientific and engineering support 
          to the U.S. government and its military with a core emphasis on
          cold environments. The Defense Resiliency Platform (DRP) is a
          research-based multidisciplinary cyberinfrastructure platform
          enabling data integration and formatting, visualization,
          predictive analytics, and automated mapping of Arctic terrain
          data with the goal of maximizing the performance of the U.S.
          Army/CRREL in extreme cold weather environments.
        </p>
        <p>
        	<a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/drp-data">View data portal<i class="icon icon-double-angle-right"></i></a>
        </p>          
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Coral" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_coral.jpg" style="width: 100%; height: 100%" /> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          Virginia Tech</br>
          Arctic Material Physics
          <span class="citation">
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Researchers at Virginia Tech study the life cycle performance and
          properties of infrastructural materials in Arctic settings.
        </p>
        <p>
          <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/vt">View data portal<i class="icon icon-double-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Coral" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_coral.jpg" style="width: 100%; height: 100%" /> -->
 <div class="accordion">
   <div class="accordion-heading">
     <h2>
       <a class="accordion-toggle dark">
          Stony Brook University</br>
          Materials Engineering
          <span class="citation">
          </span>
       </a>
     </h2>
   </div>
   <div class="accordion-body">
     <div class="accordion-inner">
       <p>
         The Stony Brook University team researches how various additives
         affect the ice formation process in laboratory settings and beyond.
       </p>
       <p>
         <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/sbu">View data portal<i class="icon icon-double-angle-right"></i></a>
       </p>
     </div>
   </div>
 </div>
</section>
<section class="row">
  <!-- <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_flower_yellow.jpg" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          University of North Dakota</br>
          Remote Sensing and Geophysics
          <span class="citation">
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the University of North Dakota includes 
          remote sensing, geophysics, and predictive analytics of
          critical infrastructure affected by permafrost melt in the Arctic.
        </p>
		    <p>
	        <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/und">View data portal<i class="icon icon-double-angle-right"></i></a>
		    </p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Lake Baikal" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_baikal.jpg" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle dark">
          University of Minnesota</br>
          Biohazards
          <span class="citation">
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the University of Minnesota Duluth team includes
          biohazard analysis of grave sites affected by permafrost melt.
        </p>
		    <p>
			    <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/umn">View data portal<i class="icon icon-double-angle-right"></i></a>
		    </p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/humanimpacts.png" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          Minnesota College of Art and Design</br>
		      3-Dimensional Terrestrial Scanning
          <span class="citation">
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the MCAD team includes Matterport scans of permafrost
          change (colorized point clouds, visual imagery) at various study
          sites.
        </p>
        <p>
        	<a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/mcad">View data portal<i class="icon icon-double-angle-right"></i></a>
        </p>          
      </div>
    </div>
  </div>
</section>
