<section class="row">
  <!-- <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/humanimpacts.png" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle dark">
		  3-Dimensional Terrestrial Scanning</br>
          <span class="citation">
			      Minnesota College of Art and Design
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the MCAD team includes Matterport scans of permaftost
          change (colorized point clouds, visual imagery) at various study
          sites.
        </p>
        <p>
        	<a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/mcad">View data portal<i class="icon icon-double-angle-right"></i></a>
        </p>          
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Lake Baikal" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_baikal.jpg" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
           Biohazards</br>
           <span class="citation">
		         University of Minnesota
           </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the University of Minnesota Duluth team includes
          biohazard analysis of grave sites affected by permafrost melt.
        </p>
		<p>
			<a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/umn">View data portal<i class="icon icon-double-angle-right"></i></a>
		</p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_flower_yellow.jpg" style="width: 100%; height: 100%"> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          Remote Sensing and Geophysics</br>
          <span class="citation">
			      University of North Dakota
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Research by the University of North Dakota includes LiDAR, ground-
          penetrating radar, electro-optical, and UAV aerial imagery.
        </p>
		<p>
	        <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/und">View data portal<i class="icon icon-double-angle-right"></i></a>
		</p>
      </div>
    </div>
  </div>
</section>
<section class="row">
   <!-- <img alt="Coral" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_coral.jpg" style="width: 100%; height: 100%" /> -->
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          Materials Engineering</br>
          <span class="citation">
			      Stony Brook University
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          The Stony Brook University team researches how various additives
          affect the ice formation process in laboratory settings and beyond.
        </p>
		<p>
        	<a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/sbu">View data portal<i class="icon icon-double-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <!-- <img alt="Coral" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_coral.jpg" style="width: 100%; height: 100%" /> -->
 <div class="accordion">
   <div class="accordion-heading">
     <h2>
       <a class="accordion-toggle">
         Arctic Material Physics</br>
         <span class="citation">
           Virginia Tech
         </span>
       </a>
     </h2>
   </div>
   <div class="accordion-body">
     <div class="accordion-inner">
       <p>
          Researchers at Virginia Tech study the life cycle properties and
          performance of infrastructural materials in Arctic settings.
       </p>
   <p>
         <a class="btn btn-primary " href="<%= MetacatUI.root %>/portals/vt">View data portal<i class="icon icon-double-angle-right"></i></a>
       </p>
     </div>
   </div>
 </div>
</section>