<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h1>
          <a name="about-the-repo"></a>
          Stony Coral Tissue Loss Disease
        </h1>
        <h3 class="subtle">
          <strong>
            A searchable inventory of existing SCTLD information related to
            research, surveillance, and intervention activities conducted for
            susceptible species.
          </strong>
        </h3>

        <h2 id="overview"><strong>Overview</strong></h2>
        <p>
          Florida's Coral Reef has been experiencing an outbreak of a coral
          disease termed
          <strong>stony coral tissue loss disease</strong>
          . First reported in 2014 off the coast of Miami-Dade County, this
          outbreak has spread along Florida and to reefs in the Caribbean,
          including Jamaica, Mexico, St. Maarten, the US Virgin Islands and the
          Dominican Republic. Since 2015, the Florida Department of
          Environmental Protection and numerous partners from federal, state,
          and local agencies, non-governmental organizations, universities and
          members of the community have been collaborating on a multifaceted
          response effort.
        </p>
        <p>
          <img
            class="thumbnail"
            src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/about/2021-SCTLD-Map.png"
            alt="Image" />
        </p>
        <h3 id="keyfactorsoftheoutbreak">Key Factors of the Outbreak</h3>
        <ul>
          <li>
            <strong>Large geographic range</strong>
            . Over 95% of Florida’s Coral Reef has been affected. Several
            locations in the Caribbean are reporting this disease as well,
            including the US Virgin Islands and Puerto Rico.
          </li>
          <li>
            <strong>Duration of the outbreak</strong>
            . Disease has spread continuously since 2014.
          </li>
          <li>
            <strong>Number of coral species affected</strong>
            . Over 20 of Florida’s approximately 45 species of reef-building
            corals are affected.
          </li>
          <li>
            <strong>Significantly high prevalence</strong>
            . Within certain species, disease is seen in 66-100% of colonies at
            an affected site.
          </li>
          <li>
            <strong>High rates of disease transmission and mortality</strong>
            . Once a coral begins to lose living tissue, observations show that
            the colony will die within weeks to months without active
            intervention.
          </li>
        </ul>
        <p>
          A searchable inventory of existing SCTLD information related to
          research, surveillance, and intervention activities conducted for each
          susceptible species. What is currently known about the disease,
          hypotheses derived from experimental findings, and ongoing work with
          each species. This portal is intended to support efforts to synthesize
          data from SCTLD studies with the aim of elucidating more precise
          insights about the disease dynamics, pathogenesis, and appropriate
          interventions.
        </p>
        <h2 id="research">Research</h2>
        <p>
          SCTLD research consists of many diverse activities, including field
          and lab research, sample collection (including coral mucus, biopsies,
          and tissue scrapings), and the application of different experimental
          designs, all of which generate different types of data, which may be
          qualitative or quantitative and provide information regarding
          different coral species in various locations, varied habitat types,
          and different stages of the disease.
        </p>
        <h2 id="surveillance">Surveillance</h2>
        <p>
          Surveillance efforts include identifying coral species and reef sites
          within the SCTLD epidemic and endemic zones in order to assess the
          progression of the disease and subsequently locate areas that may be
          susceptible in the future.
        </p>
        <h2 id="intervention">Intervention</h2>
        <p>
          Intervention involves the development, improvement, and application of
          treatment techniques. If left untreated, SCTLD can result in 66-100%
          colony mortality; however intervention techniques have been able to
          greatly reduce mortality.
        </p>
      </div>
      <div class="portal-logos-view">
        <div class="logo-row row-fluid">
          <div class="span4">
            <a
              href="https://noaa.gov"
              target="_blank">
              <img
                class="img-logo"
                src="https://mn-ucsb-1.dataone.org/knb/d1/mn/v2/object/urn:uuid:447f1757-8258-431f-8d25-e3b3346ef876"
                title="NOAA" />
            </a>
          </div>
          <div class="span4">
            <a
              href="https://floridadep.gov/"
              target="_blank">
              <img
                class="img-logo"
                src="https://mn-ucsb-1.dataone.org/knb/d1/mn/v2/object/urn:uuid:f8ffe30e-08f1-43ce-8069-0c4642faabac"
                title="Florida Department of Environmental Protection" />
            </a>
          </div>
          <div class="span4">
            <a
              href="https://myfwc.com"
              target="_blank">
              <img
                class="img-logo"
                src="https://mn-ucsb-1.dataone.org/knb/d1/mn/v2/object/urn:uuid:ada74413-9693-493e-9acc-07266e48743a"
                title="Florida Fish and Wildlife Conservation Commission" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
