<article id="About">
    <div class="container">
        <div class="row-fluid">
            <div class="text-left">
                <h2>
                    <a name="about-the-repo"></a>
                    <i class="icon icon-leaf"></i>
                    About the <%= MetacatUI.appModel.get('title')%>
                </h2>
                <p>
                    <%= MetacatUI.appModel.get('description') %>
                </p>

                <h3 id="terms-of-use">Terms of Use</h3>

                <p>By uploading content and clicking "publish" you are verifying that (where applicable):</p>

                <ul>
                    <li style="padding-bottom:10px;">You have permission from all data sources to publicly disseminate the data.</li>

                    <li style="padding-bottom:10px;">The data contains no sensitive personally identifiable information (PII) - see <a href="http://prism2.si.edu/SIOrganization/OCFO/OPMB/SD/SD118.pdf" target="_blank">SD118 Privacy Policy</a> for definitions.</li>

                    <li style="padding-bottom:10px;">All research is in compliance with <a href="http://prism2.si.edu/SIOrganization/OCFO/OPMB/SD/SD606.pdf" target="_blank">SD606 Research Involving Human Subjects</a> and <a href="http://prism2.si.edu/SIOrganization/OCFO/OPMB/SD/SD605.pdf" target="_blank">SD605 Animal Care & Use</a>.</li>

                    <li style="padding-bottom:10px;">The data is not subject to export controls.</li>

                    <li style="padding-bottom:10px;">There are no grant, sponsor, or other contractual restrictions on publication.</li>

                    <li style="padding-bottom:10px;">The data does not concern internal Smithsonian functions such as conservation, finances, inventory, management, valuation, or other business records of the Smithsonian.</li>

                    <li style="padding-bottom:10px;">The data does not include information that is legally restricted from being published such as by: copyright; moral rights; trademark; patent; or rights of privacy and publicity.</li>

                    <li>The data does not include information that is subject to additional access restrictions as detailed in <a href="http://prism2.si.edu/SIOrganization/OCFO/OPMB/SD/SD609.pdf" target="_blank">SD609 Digital Asset Access and Use</a> Policy Section VII A such as:</li>

                    <ul>
                        <li>culturally sensitive topics</li>
                        <li>human remains</li>
                        <li>sacred objects</li>
                        <li>rare, threatened, or endangered species</li>
                        <li>locations of sensitive sacred or historical sites that may be subject to looting</li>
                        <li>collections items of uncertain provenance</li>
                        <li>collections items returned to their place of origin</li>
                    </ul>
                </ul>

                <p>If you have any concerns that your data may fall into one of the above categories, please leave the data unpublished and contact your unit director for more guidance or,</p>
                <ul>
                    <li style="padding-bottom:10px;">for PII review contact the Privacy Office <a href="SmithsonianPrivacyOffice@si.edu">SmithsonianPrivacyOffice@si.edu</a></li>
                    <li style="padding-bottom:10px;">for compliance with SD606, SD605, export controls and other contractual restrictions contact <a href="mailto:OSPcompliance@si.edu">OSPcompliance@si.edu</a></li>
                </ul>
            </div>
        </div>
     </div>
    </div>
</article>