<div class="help-items">
    <nobr>
        <a href="mailto:<%=MetacatUI.appModel.get('emailContact')%>">
                Contact: <%=MetacatUI.appModel.get('emailContact')%>
        </a>
    </nobr>

    <a style="padding-left:10px; padding-right:10px; margin-right:auto;" href="https://www.si.edu/privacy" target="_blank">
        Privacy
    </a>

    <nobr>
        <a href="https://dataone.org/hosted-repo/" target="offline">
            Powered by
            <img alt="DataONE" src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/dataone_logo_white.png" class="dataone-logo" />
            Hosted Repositories
        </a>
    </nobr>
</div>
