<div class="main-content-bkg-img"></div>
<div class="container" style="padding-bottom:15px;">
    <h2 style="color:var(--col-neutral-1); text-align:center; font-weight:100">Seafloor Data Repository (SDR)</h2>
    <p style="color:var(--col-neutral-3)">The purpose of the Seafloor Data Repository is to catalog and make available seafloor datasets in U.S. Atlantic waters collected by a variety of entities and purposes that can eventually be used to develop regional-scale seafloor habitat data products (e.g., bathymetry maps, benthic habitat maps, surficial seafloor geology maps) for wider use and dissemination via the
        <a href="https://portal.midatlanticocean.org/" target="_blank">Mid-Atlantic Ocean Data Portal</a>
        and
        <a href="https://www.northeastoceandata.org/" target="_blank">Northeast Ocean Data Portal</a>,
        and other mapping platforms.</p>
</div>
<div class="container" style="margin-top:20px; margin-bottom:40px">
    <form class="form-item">
        <h2 style="color:var(--col-neutral-1); text-align:center; font-weight:100">Explore Our Data</h2>
        <div class="form-input">
            <input type="text" id="search_txt_main" placeholder="Example: bathymetry"></input>
            <a href="<%= MetacatUI.root %>/data" type="button" class="btn" id="search_btn_main">
                <i class="icon-search icon-large"></i>
            </a>
        </div>
    </form>
</div>