<div class="help-items">
    <a href="mailto:<%=MetacatUI.appModel.get('emailContact')%>">
                Contact: <%=MetacatUI.appModel.get('emailContact')%>
    </a>


</div>
<!--
    Add optional acknowledgement logos to the footer here
<div>
    <ul class="footer-logos-list">
        <li><img src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logos/und.svg" /></li>
        <li><img src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logos/vt.png" /></li>
        <li><img src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logos/umd.png" /></li>
        <li><img src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logos/sbu.png" /></li>
        <li><img src="<%= MetacatUI.root %>/js/themes/<%= MetacatUI.theme %>/img/logos/crrel.png" /></li>
      </ul>
</div>

-->