/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

    #Navbar {
        background-color: #23487A;
    }

    #Navbar .navbar li {
        border-bottom: 1px solid #FFFFFF;
    }

    #mainContent input {
	font-size: 80%;
    }
    body > section > article {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 900px){
    #Footer .footer-logos-list img {
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width : 800px) {
  .has-temporary-message #Content {
      padding-top: 128px;
  }
}
@media only screen and (max-width : 550px) {
  .has-temporary-message #Content {
      padding-top: 148px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1050px){
    .navbar .title {
        max-width: 175px;
    }
    .navbar .nav > li > a {
        padding: 10px 10px;
        font-size: 1.0em;
    }
    #Navbar .logo {
        margin-right: none;
    }
    #mainContent .container {
        margin-bottom: 6%
    }
}

@media only screen and (max-width: 900px) {
    #mainContent .container {
        margin-bottom: 6%;
    }
}

@media only screen and (max-width: 768px) {
    #mainContent {
        margin-bottom: 0px;
        font-size: 80%;
    }
    #mainContent .container {
        margin-top: 8%
    }
}